/* Universal */
html {
    background-color: white;
    padding-bottom: 50px;
}

img {
    width: 100%;
    height: 100%;
}

.image-container {
    height: 250px;
    width: 250px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-box {
    background-color: silver;
    padding: 5px;
    width: 70%;
}

h1 {
    font-size: 20px;
    color: white;
}

/* Navigation */

header {
    position: fixed;
    height: 40px;
    background-color: black;
    width: 100%;
    
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
}

nav li{
    display: inline;
    float: left;
    padding: 10px;
    margin: 0 10px 0 10px;
    color: white;
}

/* The Show */



main {
    padding-top: 40px;
}

#show {
    height: 800px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("../images/forest.jpg");
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    padding: 0 10% 0 10%;
    flex-direction: column;
}

#show .flex-container {
    width: 80%;
}

#thumbnail {
    height: 250px;
    width: 250px;
    overflow: hidden;
}

/* The Hosts */

#hosts {
    flex-direction: column;
}

#hosts .flex-container {
    width: 100%;
    margin-bottom: 45px;
}

/* Contact */

/* Mobile */